:root{
    --purple: #9561e2;
    --purple-light: #d26ec8;
    --gradient : linear-gradient(135deg, var(--purple), var(--purple-light));
}

.hero-form-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-container{
    font-family: 'Raleway', sans-serif;
    padding-right: 15px;
    position: relative;
    z-index: 1;
}
.form-container:before{
    content: '';
    background-color: rgba(59, 56, 56, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    bottom: 20%;
    z-index: -1;
}
.form-container .title{
    color: #333;
    background-color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 50px 15px 20px;
    margin: 0;
    display: inline-block;
    clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
}
.form-container .title i{
    color: #792D3B;
    margin-right: 10px;
}
.form-container .form-horizontal{
    background: #fff;
    padding: 30px 0 0;
    box-shadow: 10px 10px 10px rgb(0,0,0,0.1);
}
.form-horizontal .form-group{
    padding: 0 25px;
    margin: 0 0 20px;
}
.form-horizontal .form-group:last-of-type{ margin-bottom: 30px; }
.form-horizontal .form-group label{
    font-size: 13.5px;
    text-transform: uppercase;
}
.form-horizontal .form-group label.check-label{
    text-transform: none;
    vertical-align: middle;
    display: inline-block;
}

.form-horizontal .form-group label.check-label-password-request{
    text-transform: none;
    vertical-align: middle;
    float: right;
    display: inline-block;
}
.form-horizontal .form-control{
    color: #111;
    background: #F5F5F5;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    height: 33px;
    padding: 6px 12px;
    border-radius: 0;
    border: none;
    box-shadow: none;
    border-top: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
}
.form-horizontal .form-control:focus{
    background-color: #5347472a;
    box-shadow: none;
}
.form-horizontal .checkbox{
    height: 14px;
    width: 14px;
    min-height: auto;
    margin: 0 3px 0 0;
    border: 1px solid #999;
    cursor: pointer;
    display: inline-block;
    position: relative;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    transition: all 0.3s ease;
}
.form-horizontal .checkbox:before{
    content: '';
    height: 7px;
    width: 14px;
    border-bottom: 3px solid #792D3B;
    border-left: 3px solid #792D3B;
    opacity: 0;
    transform: rotate(-45deg);
    position: absolute;
    left: 1px;
    top: 0;
    transition: all 0.3s ease;
}
.form-horizontal .checkbox:checked{ border-color: #792D3B; }
.form-horizontal .checkbox:checked:before{ opacity: 1; }
.form-horizontal .checkbox:not(:checked):before{ opacity: 0; }
.form-horizontal .checkbox:focus{ outline: none; }
.form-horizontal .signup{
    color: #fff;
    background-color: var(--purple);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 0;
    display: block;
    transition: all 0.3s ease 0s;
}
.form-horizontal .signup:hover,
.form-horizontal .signup:focus{
    background-color: var(--purple-light);
}
