:root {
    --blue: #3490dc;
    --indigo: #6574cd;
    --purple: #9561e2;
    --purple-light: #d26ec8;
    --pink: #ff85ce !important;
    --red: #e3342f;
    --orange: #f6993f;
    --yellow: #ffed4a;
    --green: #4dff77;
    --teal: #4dc0b5;
    --cyan: #6cb2eb;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #3490dc;
    --secondary: #6c757d;
    --success: #38c172;
    --info: #6cb2eb;
    --warning: #ffed4a;
    --danger: #e3342f;
    --light: #f8f9fa;
    --dark: #343a40;
}

.bg-gradient-indigo {
  background-color: var(--purple);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, var(--purple)), to(var(--purple-light)));
  background-image: linear-gradient(180deg, var(--purple) 40%, var(--purple-light) 100%);
  background-size: cover;
}

/*border card*/
.border-left-purple {
  border-left: 0.25rem solid var(--purple) !important;
}

.border-bottom-purple {
  border-bottom: 0.25rem solid var(--purple) !important;
}
.border-left-pink {
  border-left: 0.25rem solid var(--pink) !important;
}

.border-bottom-pink {
  border-bottom: 0.25rem solid var(--pink) !important;
}
.border-left-purple-light {
  border-left: 0.25rem solid var(--purple-light) !important;
}

.border-bottom-purple-light {
  border-bottom: 0.25rem solid var(--purple-light) !important;
}

/*text color*/
.text-purple {
  color: var(--purple) !important;
}
.text-pink {
  color: var(--pink) !important;
}
.text-purple-light {
  color: var(--purple-light) !important;
}


/*btn outline*/
.btn-outline-purple {
  color: var(--purple);
  border-color: var(--purple);
}

.btn-outline-purple:hover {
  color: #fff;
  background-color: var(--purple);
  border-color: var(--purple);
}
.btn-outline-pink {
  color: var(--pink);
  border-color: var(--pink);
}

.btn-outline-pink:hover {
  color: #fff;
  background-color: var(--pink);
  border-color: var(--pink);
}
.btn-outline-purple-light {
  color: var(--purple-light);
  border-color: var(--purple-light);
}

.btn-outline-purple-light:hover {
  color: #fff;
  background-color: var(--purple-light);
  border-color: var(--purple-light);
}
